---
import type { Page, GetStaticPathsOptions } from 'astro'
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'
import PostPreview from '../../components/PostPreview.astro'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection('posts')
  return paginate(posts, { pageSize: 4 })
}

type Props = { page: Page<CollectionEntry<'posts'>> }

const { page } = Astro.props
const posts = page.data
---

<BaseLayout title="Blog" showHeader={false}>
  <h1 class="mb-8 text-xl font-serif italic sm:mb-10 sm:text-2xl">Blog Archive</h1>
  {posts.map(post => <PostPreview post={post} class="mb-10 sm:mb-10" />)}
</BaseLayout>
