---
import { getCollection } from 'astro:content'
import Footer from '../components/Footer.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const posts = await getCollection('posts', ({ data }) => {
  return data.isDraft != true
})
---

<BaseLayout>
  {
    (
      <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Blog</h2>
        {posts.map(post => (
            <div class="mb-10 sm:mb-12">
              <a href={`posts/${post.slug}/`}>{post.data.title}</a>
            </div>
            <p>{post.data.excerpt}</p>
        ))}
      </div>
    )
  }
</BaseLayout>