---
---

<!-- High priority Global metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Pranav RK</title>
<meta name="generator" content="{Astro.generator}" />

<!-- Low priority Global metadata -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

