---
import siteConfig from '../data/site-config'

export type Props = {
  title?: string
}

const title = [Astro.props.title, siteConfig.hero.title].filter(Boolean).join(' | ')
---

<!-- High priority Global metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="generator" content="{Astro.generator}" />

<!-- Low priority Global metadata -->
<link rel="icon" type="image/svg+xml" href="/src/assets/images/bullseye.svg" />
<link rel="icon" type="image/png" href="/src/assets/images/bullseye.png" />
