---
import siteConfig from '../data/site-config'
import Social from './Social.astro'
---

<footer class="font-serif w-full max-w-3xl mx-auto pt-12 pb-10 sm:pt-24 sm:pb-14">
  <div class="pt-6 flex flex-col gap-4 border-t sm:flex sm:justify-between sm:items-center">
    <Social />
    <p class="text-sm">&copy; {new Date().getFullYear()}&nbsp;{siteConfig.hero.title}. All rights reserved.</p>
    <!-- <p class="text-xs">Built with {Astro.generator}</p> -->
  </div>
</footer>
