---
import siteConfig from '../data/site-config'
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
  {(<a class="font-serif text-2xl leading-tight font-medium sm:text-3xl">{siteConfig.title}</a>)}
</header>
